@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --text: #4a4a4a;*/
/*  --background: #f7f7f7;*/
/*  --header-background: #e0e0e0;*/
/*  --input: #ffffff;*/
/*  --input-border: #d1d1d1;*/
/*  --button: #d0b1ff;*/
/*  --hover: #e6ccff;*/
/*  --link: #a3a0ff;*/
/*  --accent: #e0b3ff;*/
/*  --border: #e0e0e0;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --text: #f9f9f9;*/
/*    --background: #2c2c2c;*/
/*    --header-background: #1a1a1a;*/
/*    --input: #3a3a3a;*/
/*    --input-border: #555555;*/
/*    --button: #a39bff;*/
/*    --hover: #8f82ff;*/
/*    --link: #b5b2ff;*/
/*    --accent: #c4a8ff;*/
/*    --border: #444444;*/
/*  }*/
/*}*/

:root {
  --text: #E3F2FD;
  --background: #172427;
  --header-background: #22373D;
  --input: #2B4043;
  --input-border: #4B6B6B;
  --button: #5FAF7A;
  --hover: #76D199;
  --link: #6FB8F6;
  --accent: #78C8B7;
  --dark-accent: #4F9DA7;
  --border: #3A555A;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Comfortaa", 'Montserrat Alternates', sans-serif;
}
