@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #2A9D8F;
  --secondary: #E9C46A;
  --background: #F4F4F4;
  --text: #333333;
  --accent: #E76F51;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #2A9D8F;
    --secondary: #E9C46A;
    --background: #1E1E1E;
    --text: #E0E0E0;
    --accent: #E76F51;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
